
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    padding: 20px;
  }
  
  .contact-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-us h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color:#b35f3b ;
    margin-bottom: 10px;
  }
  
  .contact-us p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #b35f3b;
    outline: none;
  }
  
  .form-group textarea {
    height: 150px;
    resize: vertical;
  }
  
  .submit-btn {
    padding: 12px 20px;
    background-color: #F4511E;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #b35f3b;
  }
  
  @media (max-width: 600px) {
    .contact-us {
      padding: 15px;
    }
  
    .contact-us h2 {
      font-size: 1.5rem;
    }
  
    .contact-us p {
      font-size: 0.9rem;
    }
  
    .submit-btn {
      padding: 10px 18px;
    }
  }
  